- today = Date.today

h3 Instagram Tag Viewer
div#media
video onmouseover="this.play()" onmouseout="this.pause()"
  source src="https://scontent.cdninstagram.com/hphotos-xaf1/t50.2886-16/12090762_1670843023161220_1236160397_s.mp4"
