<h1>Listing media_items</h1>

<table id="media_items-table">
  <tr>
    <th>Type</th>
    <th>Tag</th>
    <th>Link</th>
    <th>Image</th>
    <th>Username</th>
    <th>Tagged at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tbody>
  </tbody>
</table>
