<form id="search" action="/tags">
  <label>Date</label>
  <input type="date" name="from" value="<%= from.format('YYYY-MM-DD') %>">
  <label></label>
  <input type="date" name="to" value="<%= to.format('YYYY-MM-DD') %>" readonly style="background-color: #C3C3C3;">
  <label>Tag</label>
  <input type="text" name="tag" placeholder="Enter tag name here">
  <input type="submit">
</form>

<% if (tag) { %>
  <p>Searching for images with <b>"#<%= tag %>"</b></p>
<% } %>
<div id="media-collection">
</div>

<div>
  <img id="spin" src="<%= App.assets.imageUrl('spin.gif') %>">
</div>
