<form id="search">
  <label>Date</label>
  <input type="date" name="from" value="<%= from %>">
  <label></label>
  <input type="date" name="to" value="<%= to %>">
  <label>Tag</label>
  <input type="text" name="tag" placeholder="Enter tag name here">
  <input type="submit">
</form>

<% if (tag) { %>
  <p>Searching for photos/images with <b>"#<%= tag %>"</b></p>
<% } %>
<div class="collection">
</div>
